#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.App {
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #222;
  gap: 30px;
}